<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etoak.java.mapper.BookMapper">
    <select id="getBookByNo">
        select *from book where book_no = #{bookNo}
    </select>
    <update id="updateBookStatus">
        update book set status = #{status} where bookNo = #{bookNo}
    </update>
</mapper>